.card {
    background: linear-gradient(100deg,rgb(226, 43, 159),rgb(51, 0, 255));
    border-radius: 40px;
    padding: 16px;
  }
  .bg-color{
    /* background:rgb(80, 177, 209); */
    /* background: linear-gradient(90deg,rgb(226, 43, 70),rgb(33, 225, 46)); */
    /* background: linear-gradient(90deg,lightpink,rgb(33, 225, 46)); */
    background:pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  .del{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }